@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    background-color: #E7ECEF;
    color: #274C77;
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 25px;
    font-weight: 600;
    color: #274C77;
    text-align: center;
}

.full{
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #274C77;
}

.title{
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.navbar {
    background-color: #274C77;
}

.navbar-brand {
    margin: 0;
}

.form-inline button {
    background-color: #E7ECEF;
    color: #274C77;
    border-radius: 8px;
    border-color: #274C77;
}

.form-inline button:hover {
    background-color: #6096BA;
    border-color: #274C77;
}

.form-link{
    text-align: center;
    margin-top: 20px;
}

.form-link a{
    color: #274C77;
}

.form-link a:hover{
    text-decoration: underline;
}

.form-link span{
    color: #6096BA;
}

.nav-item {
    padding-bottom: 15px;
}

.nav-link {
    display: flex;
    flex-direction: row;
    color: #D5DBBE;
}

.nav-link:hover {
    background-color: #6096BA;
    color: #FFF;
    transform: scale(1.1);
    transition: font-size 0.6s;
    border-radius: 1;
    width: 100%;
}

.full a:hover {
    color: #FFF;
    text-decoration: none;
}

.container{
    margin-top: 0px !important;
}

.container_x,
.container_f,
.container_z {
    display: flex;
    align-items: center;
}

.container_y{
    display: flex;
    align-items: start;
}

.container_f {
    width: 300px;
}

.container_x {
    flex-direction: row;
    justify-content: space-around;
}

.container_y,
.container_f {
    flex-direction: column;
    justify-content: space-around;
}

.container_z {
    justify-content: center;
    margin-left: 280px;
}

.container_r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
    margin-left: 250px;
}

.container_a {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 280px;
}
.ma {
    padding-top: 40px;
}

.black-3c85d {
    background-color: #6096BA;
}

.white-1e1d7 {
    background-color: #FFF;
}

.notation-322f9 {
    color: #274C77;
    z-index: 0;
}

.board-b72b1 {
    border-color: #274C77;
}

.form {
    margin-top: 100px;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFF;
}

.field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 10px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    border: 2px solid #CACACA;
}

.field button {
    background-color: #6096BA;
}

.field button:hover {
    background-color: #274C77;
    font-size: 18px;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 35px 0;
    background-color: #6096BA;
}

.line::before {
    content: " Or ";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #6096BA;
    padding: 0 15px;
}

.house-icon {
    color: #274C77;
}

.eye-icon {
    color: #274C77;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 17px;
    cursor: pointer;
    padding: 5px;
}

.user{
    color: #D5DBBE;
}

.nsm7Bb-HzV7m-LgbsSe,
.nsm7Bb-HzV7m-LgbsSe-MJoBVe,
.nsm7Bb-HzV7m-LgbsSe.jVeSEe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
    font-size: 25px !important;
    width: 100% !important;
    height: 50px !important;
    border-radius: 10px !important;
    background-color: #FFF !important;
    margin-bottom: 20px !important;
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId:hover {
    font-size: 18px !important;
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId {
    font-size: 17px !important;
    color: #6096BA !important;
}

.nsm7Bb-HzV7m-LgbsSe .n1UuX-DkfjY {
    height: 30px !important;
    width: 30px !important;
}

.haAclf {
    padding: 0px !important;
}

#gsi_307923_10626 {
    height: 50px !important;
}

.board {
    width: 650px;
}

/* ------------------------ */
/* PROMOTION STUFF */

#promotion-dialog {
    display: none;
}

.ui-dialog {
    padding: 0 !important;
    width: 272px !important;
    height: 68px !important;
    border: 0 !important;
    position: absolute !important;
    top: 110px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}

.ui-dialog-content {
    padding: 0 !important;
    width: 272px !important;
    height: 68px !important;
    border: 0 !important;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0 !important;
}

#promote-to .ui-selecting {
    background: #274C77;
}

#promote-to .ui-selected {
    background: #274C77;
    color: #274C77;
}

#promote-to {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 272px;
    height: 68px;
}

#promote-to li {
    margin: 0;
    padding: 0;
    width: 68px;
    height: 68px;
    cursor: pointer;
    float: left !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.noTitleStuff .ui-dialog-titlebar {
    display: none;
}

.promotion-piece {
    width: 68px;
    height: 68px;
}

.piece-name {
    display: none;
}

.square-55d63 {
    opacity: 0.4;
    filter: grayscale(50%) blur(2px) brightness(0.8);
    pointer-events: auto;
}

.square-55d63:hover {
    background-color: #FFFF70;
    opacity: 1 !important;
    filter: none !important;
}

/* ------------------------ */
/* SCROLLBAR STUFF */

.scroll_History {
    border-radius: 4px;
    margin-bottom: 20px;
    height: 350px;
    width: 100%;
    border: #274C77 2px solid;
    overflow: auto;
    background-color: #FFF;
}

.heder_scroll {
    width: 100% !important;
    background-color: #CACACA;
    font-weight: bold;
    display: flex;
    margin: 0px;
    padding: 7px;
}

.text_scroll {
    padding: 7px;
}

/* ------------------------ */
/* BUTTON STUFF */

.btn_qp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_rematch,
.btn_quit,
.btn_undo {
    background-color: #6096BA;
    color: #FFF;
    border-radius: 8px;
    border-color: #274C77;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: color 0.1s, background-color 0.1s;
    width: 100%;
}

.btn_rematch:hover,
.btn_quit:hover,
.btn_undo:hover {
    background-color: #274C77;
    color: #FFF;
}

.btn_rematch:active,
.btn_quit:active,
.btn_undo:active {
    opacity: 0.7;
}

#button_start[disabled] {
    pointer-events: none;
}

/* ------------------------ */
/* PLAYERS INFO STUFF */

.white_player,
.black_player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6096BA;
    color: #FFF;
    border-radius: 8px;
    border: #274C77 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
}

.white_player {
    align-items: end;
    float: right;
    flex-direction: row-reverse;
    align-self: end;
    justify-self: end;
}

.user_black_info,
.user_white_info {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 5px;
}

.user_black_info {
    flex-direction: row;
}

.user_white_info {
    flex-direction: row-reverse;
}

.black_id,
.white_id {
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-right: 10px;
}

.pic_b,
.pic_w {
    width: 30px;
    height: 30px;
    display: inline-block;
    align-items: top;
}

/* ------------------------ */
/* TIMER STUFF */

.timer_title {
    font-weight: bold;
    font-size: 1rem;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #274C77;
    background-color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    padding: 4px;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
}

.timer_div_w,
.timer_div_b {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}

.timer_div_b {
    flex-direction: row;
}

.timer_div_w {
    flex-direction: row-reverse;
}

/* ------------------------ */
/* RULES STUFF */


.rules-container {
    color: #274C77;
    margin: 0 auto;
    padding-bottom: 80px;
    margin-right: 0;
}

.rules-container p {
    font-size: 14pt;
}

.rules-container li {
    font-size: 13pt;
}

.rules-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.rules-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80px;
    display: flex;
    margin: 0 auto;
}

.rules-title {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    color: #274C77;
    padding-top: 90px;
    overflow-wrap: break-word;
}

.rules-subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #8796a7;
    padding-top: 20px;
}

.rule-line {
    flex-grow: 1;
    height: 2px;
    max-width: 300px;
    background-color: #274C77
}

/* ------------------------ */
/*LEADERBOARD STUFF*/
.stats_player,
.stats_leaderboard{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.title_Us,
.Us{
    display: flex;
    width: 55%;
    padding: 10px;
}

.title_User,
.User {
    display: flex;
    width: 40%;
    padding: 10px;
}

.title_Vic,
.Vic,
.title_Def,
.Def,
.title_Drw,
.Drw,
.title_Elo,
.Elo{
    display: flex;
    width: 15%;
    padding: 10px;
}

.table_stats_player,
.players_position,
.number_position {
    display: flex;
    flex-direction: column;
}

.columns_leaderbord{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table_stats_player,
.class_stat_player{
    width: 100%;
}


.players_position {
    width: 90%;
    margin-right: 30px;
}

.number_position{
    width: 7%;
}

.class_stat_player_header,
.class_stat_leaderboard_header {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 8px;
    background-color: #274C77;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.class_stat_player,
.class_leader_player {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #274c77;
}

.class_leader_player{
    margin-bottom: 12px;
    transition: transform 0.5s ease-in-out;
}

.class_stat_player{
    width: 90%;
}

.number_top3,
.number{
    border-radius: 35px;
    margin-bottom: 10px;
    padding: 9px;
    width: 45px;
    border: #274C77 2px solid;
    text-align: center;
    display: none;
}

.number_top3{
    background-color: #6096BA;
    color: #FFFFFF;
}

.number{
    background-color: #FFFFFF;
}

/* ------------------------ */


@media (max-width: 1180px) {
    .container_x {
        flex-direction: column;
        justify-content: center;
    }

    /*
    .container_y {
        order: 3;
    }
    */
    .container_f {
        margin-top: 10px;
        order: 2;
        flex-direction: column-reverse;
        width: 320px;
    }

    .board {
        order: 1;
        width: 320px;
    }

    .btn_quit,
    .btn_rematch,
    .btn_undo {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn_rematch {
        margin-bottom: 20px;
    }

    .btn_quit,
    .btn_undo {
        width: 48%;
    }

    .btn_qp {
        flex-direction: row;
        justify-content: space-between;
    }

    .scroll_History,
    .scroll_Rules,
    .scroll_Players {
        margin-bottom: 20px;
    }

    .black_id,
    .white_id {
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }

    .timer_title {
        font-size: 0.8rem;
    }

    .black_player,
    .white_player {
        width: 75%;
    }

    .user_black_info,
    .user_white_info {
        align-items: center;
    }

    #intro {
        margin-top: 100px !important;
    }

    .selection_time_color,
    .selection_bot,
    .selection_player,
    .selection_room {
        width: 95% !important;
        margin-left: 10px !important;
        margin-bottom: 0 !important;
    }

    .question {
        margin-bottom: 10px !important;
    }

    .bot_choice {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .bot_x {
        width: 45% !important;
        margin-bottom: 10px;
    }

    .selection_t_c {
        flex-direction: column;
        margin-bottom: 80px !important;
    }

    .selection_color {
        width: 95% !important;
    }

    .dropdown-container {
        align-self: start !important;
    }

    .search_r {
        width: 200px;
    }
}

#intro {
    margin-top: 0px !important;
    margin-left: 280px;
    display: block;
}

#final {
    display: none;
    margin-top: 0px !important;
    margin-left: 280px;
}

#selection_bot {
    display: none;
    width: 75%;
}

#selection_time_color {
    display: none;
    width: 75%;
}


.selection_player,
.selection_bot,
.selection_time_color,
.selection_room {
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.selection_player,
.selection_room {
    width: 75%;
}

.selection_room {
    display: none;
}

.question {
    font-weight: bold;
    font-size: 1.5rem;
    color: #274C77;
    margin-bottom: 30px;
}

.bot_user,
.bot_choice,
.selection_color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.selection_color {
    width: 17%;
}

.a_bot,
.a_human,
.a_newR,
.a_oldR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: #274C77 2px solid;
    border-radius: 8px;
    width: 120px;
    height: 120px;
}

.bot_x {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: #274C77 2px solid;
    border-radius: 8px;
    font-weight: bolder;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #274C77;
}

.bot_x:hover,
.a_newR:hover,
.a_oldR:hover {
    background-color: #274C77;
}

.room_bar {
    margin-top: 40px;
    align-self: center;
    display: none;
}

.search_r,
.search_b {
    border-color: #274C77;
    height: 40px;
    font-size: 1.25rem;
}

.dropdown-container {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 1rem;
}

.drop {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.selection_t_c {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.p_w,
.p_b {
    border: #274C77 2px solid;
    border-radius: 8px;
}

.btn_start {
    position: fixed;
    display: flex;
    justify-content: end;
    bottom: 25px;
    right: 30px;
}

.botton_start {
    border: #FFF 2px solid;
    border-radius: 8px;
    color: #FFF;
    background-color: #274C77;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bolder;
    font-size: 1.75rem;
}

#btn_nav_play,
#btn_nav_lead,
#btn_nav_rules,
#btn_nav_collapse,
#btn_nav_home,
#btn_signIn {
    display: block;
}

.btn_nav_home{
    overflow: visible;
    white-space: nowrap;
}

#left_a{
    display: block;
}

#right_a{
    display: none;
}


/* --------TOAST STUFF--------------- */


.toast-container {
    border-radius: 4px;
    margin-bottom: 20px;
    height: 350px;
    width: 100%;
    border: #274C77 2px solid;
    /* overflow: auto;
    scrollbar-width: none; */
    background-color: transparent;
}

.toast-scroll::-webkit-scrollbar {
    display: none;
}

.toast {
    overflow-wrap: break-word;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #274c77;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toast-header {
    padding: 4px;
    border-radius: 4px;
    background-color: #274C77;
    color: #ffffff;
    border-bottom: 1px solid #555;
}

.toast-body {
    padding: 15px;
}

.close {
    color: transparent;
}

.header-toast {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 7px;
    margin: 0px;
    height: 13%;
    background-color: #cacaca;
}

.toast-scroll {
    padding: 7px;
    overflow: auto;
    height: 87%;
    scrollbar-width: none;
}


/* --------PIECES DRAG ANIMATION STUFF--------------- */
.black-side img[data-piece^="w"] {
    pointer-events: none;
    opacity: 0;
}

.black-side img[data-piece^="b"] {
    z-index: 10;
    opacity: 1;
}

/* Regole per il lato bianco */
.white-side img[data-piece^="w"] {
    pointer-events: none;
    opacity: 1;
}

.white-side img[data-piece^="b"] {
    pointer-events: none;
    opacity: 0;
}


/*----------------SOCIAL ICONS STUFF-----------------*/

.share-container {
    display: flex;
    padding: 8px;
}

.room-code-label {
    font-size: 1.10rem;
    font-weight: bold;
    color: #274C77;
    margin: 0;
    padding-right: 18px;
}

/* Social icons div */
.social-icons {
    display: flex;
    gap: 3px;
}

/* Single social icons style */
.social-icon {
    display: inline-block;
    font-size: 17px;
    color: #274C77;
}

.items-center {
    display: flex;
    align-items: center;
}

/*----------------SVG STUFF-----------------*/
.nav-link svg {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 5px;
}

.form-inline svg {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 5px;
}
